:root {
  --siteColor: #1e90ff;
  --siteColorDarken10: #0181ff;
}

.themeLink{
  color: var(--siteColor);
}

.themeLink:hover {
  color: var(--siteColorDarken10)
}

.br-08 {
  border-radius: 0.8rem;
}
.br-t-08 {
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}
@media (min-width:768px) {
  .br-t-08 {
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.8rem;
  }
}
.my-node-appear {
  opacity: 0;
}
.my-node-appear-active {
  opacity: 1;
  transition: opacity 1000ms;
}

.map-container {
  width: 100%;
  height: 100%;
}

.cursorPointer {
  cursor: pointer;
}

.fitContent {
  width: fit-content;
}